@charset "UTF-8";
/*Desarrrolado por: Diana*/
/* **********Estilos generales**  */
body{
    background: url("fondos/corazon-1.svg") repeat-y top left,
    url("fondos/corazon-2.svg") repeat-y top right ;
    background-size: 20%;
    background-color: #FFEBF0;
    font-family: sans-serif;
    font-size: 150%;
}
h1{ 
    font-size: 140%;
    text-transform: uppercase;
    text-align: center;
}
main{
    margin-left: 20%;
    margin-right:20%;
    text-align: center;
}
div{
    text-align: center;
    width:100%;
    margin-bottom:3%;
    border: 3px solid black;
    font-weight: bold;
}
/* ****************Clases************** */
.fondo1{
    color:#FFFFFF;
    background: url("fondos/manchas.png");
}
.fondo2{
    color:#FFDD00;
    background: url("fondos/tallos.jpg");
}
.fondo3{
    background: url("fondos/ojo.svg") no-repeat center,
    url("fondos/hexagonos.jpg");
    background-size: 70% 70%;
    color:#800000;
}
.fondo4{
    background:url("fondos/caballo.svg") repeat-x bottom left,
    url("fondos/estrellas.png") repeat;
    background-size: 30%;
    color:#004D06;
    padding-bottom: 9%;
}



